src/main/app/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd" version="EE-3.5.1">
    
    <batch:job name="syncBatchA" >
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:process-records>
            
            <batch:step name="getOpportunityInBStep" >
                <enricher source="#[payload]" target="#[recordVars['opportunityInTargetInstance']]" doc:name="store opportunity">
	            	<sfdc:query-single config-ref="SalesforceB" query="SELECT Id, Name, LastModifiedDate FROM Opportunity WHERE (Name = '#[payload['Name']]')" doc:name="query opportunity from B"/>
                </enricher>
            </batch:step>
            
            <batch:step name="findOrCreateAccountInBStep" accept-expression="'syncAccount' == '${account.sync.policy}'">
                <enricher source="#[payload]" target="#[recordVars['accountInTargetInstance']]" doc:name="store account in target instance">
                    <sfdc:query-single config-ref="SalesforceB" query="SELECT Id, Name FROM Account WHERE Name = '#[payload['Account']['Name']]'" doc:name="query account in B instance"/>
                </enricher>
                <choice doc:name="Choice">
                    <when expression="#[recordVars['accountInTargetInstance'] is NullPayload]">
                        <enricher doc:name="store id of account in target instance" target="#[recordVars['idOfAccountInTargetInstance']]" source="#[payload]">
	                        <processor-chain doc:name="Processor Chain">
                                <expression-component doc:name="prepare account for creation"><![CDATA[payload['Account'].remove('Id');
payload['Account'].put('NumberOfEmployees', payload['Account']['NumberOfEmployees'] == null ? 0 :  Integer.parseInt(payload['Account']['NumberOfEmployees']));]]></expression-component>
                                <set-payload value="#[ [payload['Account']]]" doc:name="set payload with account to be created"/>
       		                     <sfdc:create config-ref="SalesforceB" type="Account" doc:name="create account in B instance">
       	    	                     <sfdc:objects ref="#[payload]"/>
       	        	             </sfdc:create>
                                <expression-transformer expression="#[payload[0].getId()]" doc:name="get the id of the account created"/>
	                        </processor-chain>
                        </enricher>
                    </when>
                    <otherwise>
                        <enricher target="#[recordVars['idOfAccountInTargetInstance']]" doc:name="store id of account in B" source="#[payload]">
     	                   <expression-transformer expression="#[recordVars['accountInTargetInstance']['Id']]" doc:name="get the id of the account in target"/>
                        </enricher>
                    </otherwise>
                </choice>
                <expression-component doc:name="set contact's parent account id"><![CDATA[payload.put('AccountId', recordVars['idOfAccountInTargetInstance']);]]></expression-component>
            </batch:step>
            
            <batch:step name="setDummyAccountIdForBStep" accept-expression="'assignDummyAccount' == '${account.sync.policy}'">
                <expression-component doc:name="set contact's parent account id"><![CDATA[payload.put('AccountId', '${account.id.in.b}');]]></expression-component>
            </batch:step>
            
            <batch:step name="upsertOpportunityInBStep" accept-expression="(recordVars['opportunityInTargetInstance'] is NullPayload || recordVars['opportunityInTargetInstance'].get('LastModifiedDate') &lt; payload.get('LastModifiedDate') &amp;&amp; '${sfdc.b.integration.user.id}' != payload.get('LastModifiedById'))">
				<expression-component doc:name="prepare opportunity for upsert"><![CDATA[payload.remove('LastModifiedById');
payload.remove('LastModifiedDate');
payload.remove('Account');

if(!(recordVars['opportunityInTargetInstance'] is NullPayload)) {
	payload.put('Id',recordVars['opportunityInTargetInstance'].get('Id'));
}

if (payload.get('Amount') == null) {
	payload.remove('Amount') 
} else {
	if(payload.get('Amount') instanceof  String) {
		double doubleAmount = Double.parseDouble(payload.get('Amount'));
		payload.put('Amount', doubleAmount);
	}
}

if (payload.get('CloseDate') == null) {
	payload.remove('CloseDate') 
} else {
    if(payload.get('CloseDate') instanceof String) {
		java.util.Date dateCloseDate = new java.text.SimpleDateFormat("yyyy-MM-dd").parse(payload.get('CloseDate'));
		payload.put('CloseDate', dateCloseDate);
	}
}]]></expression-component>
                <batch:commit size="200" doc:name="Batch Commit">
			        <sfdc:upsert config-ref="SalesforceB" externalIdFieldName="Id" type="Opportunity" doc:name="upsert opportunity in B">
			            <sfdc:objects ref="#[payload]"/>
			        </sfdc:upsert>
			        <logger message="Upsert Salesforce response: #[payload]" level="INFO" doc:name="log response"/>
                </batch:commit>
            </batch:step>
        </batch:process-records>
        <batch:on-complete>
            <expression-component doc:name="unlock processing"><![CDATA[#[app.registry['PollSynchronizer'].unlock()]]]></expression-component>
        </batch:on-complete>
    </batch:job>
    
    <batch:job name="syncBatchB" >
        <batch:threading-profile poolExhaustedAction="WAIT"/>
        <batch:process-records>
            
            <batch:step name="getOpportunityInAStep" >
                <enricher source="#[payload]" target="#[recordVars['opportunityInTargetInstance']]" doc:name="store opportunity">
		            <sfdc:query-single config-ref="SalesforceA" query="SELECT Id, Name, LastModifiedDate FROM Opportunity WHERE (Name = '#[payload['Name']]')" doc:name="query opportunity from A"/>
                </enricher>
            </batch:step>
            
            <batch:step name="findOrCreateAccountInAStep" accept-expression="'syncAccount' == '${account.sync.policy}'">
                <enricher source="#[payload]" target="#[recordVars['accountInTargetInstance']]" doc:name="store account in target instance">
                    <sfdc:query-single config-ref="SalesforceA" query="SELECT Id, Name FROM Account WHERE Name = '#[payload['Account']['Name']]'" doc:name="query account in A instance"/>
                </enricher>
                <choice doc:name="Choice">
                    <when expression="#[recordVars['accountInTargetInstance'] is NullPayload]">
                        <enricher doc:name="store id of account in target instance" target="#[recordVars['idOfAccountInTargetInstance']]" source="#[payload]">
	                        <processor-chain doc:name="Processor Chain">
                                <expression-component doc:name="prepare account for creation"><![CDATA[payload['Account'].remove('Id');
payload['Account'].put('NumberOfEmployees', payload['Account']['NumberOfEmployees'] == null ? 0 :  Integer.parseInt(payload['Account']['NumberOfEmployees']));]]></expression-component>
                                <set-payload value="#[ [payload['Account']]]" doc:name="set payload with account to be created"/>
       		                     <sfdc:create config-ref="SalesforceA" type="Account" doc:name="create account in A instance">
       	    	                     <sfdc:objects ref="#[payload]"/>
       	        	             </sfdc:create>
                                <expression-transformer expression="#[payload[0].getId()]" doc:name="get the id of the account created"/>
	                        </processor-chain>
                        </enricher>
                    </when>
                    <otherwise>
                        <enricher target="#[recordVars['idOfAccountInTargetInstance']]" doc:name="store id of account in A" source="#[payload]">
     	                   <expression-transformer expression="#[recordVars['accountInTargetInstance']['Id']]" doc:name="get the id of the account in target"/>
                        </enricher>
                    </otherwise>
                </choice>
                <expression-component doc:name="set contact's parent account id"><![CDATA[payload.put('AccountId', recordVars['idOfAccountInTargetInstance']);]]></expression-component>
            </batch:step>
            <batch:step name="setDummyAccountIdForAStep" accept-expression="'assignDummyAccount' == '${account.sync.policy}'">
                <expression-component doc:name="set contact's parent account id"><![CDATA[payload.put('AccountId', '${account.id.in.a}');]]></expression-component>
            </batch:step>
            
            <batch:step name="upsertOpportunityInAStep" accept-expression="(recordVars['opportunityInTargetInstance'] is NullPayload || recordVars['opportunityInTargetInstance'].get('LastModifiedDate') &lt; payload.get('LastModifiedDate') &amp;&amp; '${sfdc.a.integration.user.id}' != payload.get('LastModifiedById'))">
				<expression-component doc:name="prepare opportunity for upsert"><![CDATA[payload.remove('LastModifiedById');
payload.remove('LastModifiedDate');
payload.remove('Account');

java.util.Date dateCloseDate = new java.text.SimpleDateFormat("yyyy-MM-dd").parse(payload.get('CloseDate'));
payload.put('CloseDate', dateCloseDate);

if(!(recordVars['opportunityInTargetInstance'] is NullPayload)) {
	payload.put('Id',recordVars['opportunityInTargetInstance'].get('Id'));
}]]></expression-component>
                <batch:commit size="200" doc:name="Batch Commit">
			        <sfdc:upsert config-ref="SalesforceA" externalIdFieldName="Id" type="Opportunity" doc:name="upsert opportunity in A">
			            <sfdc:objects ref="#[payload]"/>
			        </sfdc:upsert>
			        <logger message="Upsert Salesforce response: #[payload]" level="INFO" doc:name="log response"/>
                </batch:commit>
            </batch:step>
            
        </batch:process-records>
        <batch:on-complete>
            <expression-component doc:name="unlock processing"><![CDATA[#[app.registry['PollSynchronizer'].unlock()]]]></expression-component>
        </batch:on-complete>
    </batch:job>
    <flow name="Copy_of_businessLogicFlow1" doc:name="Copy_of_businessLogicFlow1">
        <logger message="OPORRTUNITY IN TARGET INSTANCE: #[(recordVars['opportunityInTargetInstance'] is NullPayload)]" level="INFO" doc:name="Copy_of_Logger"/>
    </flow>
    
</mule>
