src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<!-- This is the endponits file. In this file you should declare all your inbound and outbound endpoints, in order to control the access to your integration -->

    <flow name="triggerSyncFromAFlow" doc:name="triggerSyncFromAFlow" processingStrategy="synchronous">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="10000" />
			<watermark variable="lastQueryDateA" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
			<sfdc:query config-ref="SalesforceA" doc:name="fetch opportunities from A" query="dsql:SELECT Amount,LastModifiedById,LastModifiedDate,Name,Probability,StageName FROM Opportunity WHERE (LastModifiedDate &gt; #[flowVars['lastQueryDateA']] AND Amount &gt; '5000') ORDER BY LastModifiedDate ASC LIMIT 200"></sfdc:query>
		</poll>
        <set-variable variableName="sourceSystem" value="A" doc:name="set A as source system" />
        <batch:execute name="syncBatch" doc:name="trigger batch execution"/>
    </flow>
    
	<flow name="triggerSyncFromBFlow" doc:name="triggerSyncFromBFlow" processingStrategy="synchronous">
   		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="10000" />
			<watermark variable="lastQueryDateB" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
			<sfdc:query config-ref="SalesforceB" doc:name="fetch opportunities from B" query="dsql:SELECT Amount,LastModifiedById,LastModifiedDate,Name,Probability,StageName FROM Opportunity WHERE (Amount &gt; '5000' AND LastModifiedDate &gt; #[flowVars['lastQueryDateB']]) ORDER BY LastModifiedDate ASC LIMIT 200"></sfdc:query>
		</poll>
        <set-variable variableName="sourceSystem" value="B" doc:name="set B as source system" />
        <batch:execute name="syncBatch" doc:name="trigger batch execution"/>
    </flow>

</mule>
