src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

	<!-- This is the endponits file. In this file you should declare all your inbound and outbound endpoints, in order to control the access to your integration -->

    <flow name="triggerSyncFromAFlow" doc:name="triggerSyncFromAFlow" processingStrategy="synchronous" initialState="started">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="10000" />
			<watermark variable="lastQueryDateA" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
            <processor-chain doc:name="Processor Chain">
                <expression-component doc:name="lock processing to avoid two syncs occurring at the same time"><![CDATA[app.registry['PollSynchronizer'].lock();]]></expression-component>
                <sfdc:query config-ref="SalesforceA" query="dsql:SELECT Account.Id,Account.Name,Account.AccountNumber,Account.AccountSource,Account.AnnualRevenue,Account.BillingCity,Account.BillingCountry,Account.BillingPostalCode,Account.BillingState,Account.BillingStreet,Account.Description,Account.Fax,Account.Industry,Account.NumberOfEmployees,Account.Ownership,Account.ParentId,Account.Phone,Account.Rating,Account.ShippingCity,Account.ShippingCountry,Account.ShippingPostalCode,Account.ShippingState,Account.ShippingStreet,Account.Sic,Account.SicDesc,Account.Site,Account.TickerSymbol,Account.Type,Account.Website,Amount,CloseDate,LastModifiedById,LastModifiedDate,Name,Probability,StageName FROM Opportunity WHERE (Amount &gt; 5000 AND LastModifiedDate &gt; #[flowVars['lastQueryDateA']]) ORDER BY LastModifiedDate ASC LIMIT 200" doc:name="fetch opportunities from A"/>
            </processor-chain>

		</poll>

        <batch:execute name="syncBatchA" doc:name="trigger batch execution"/>
		<exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>        
    </flow>
    
	<flow name="triggerSyncFromBFlow" doc:name="triggerSyncFromBFlow" processingStrategy="synchronous" initialState="started">
   		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${polling.frequency}" startDelay="10000" />
			<watermark variable="lastQueryDateB" default-expression="${watermark.default.expression}" selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
            <processor-chain doc:name="Processor Chain">
                <expression-component doc:name="lock processing to avoid two syncs occurring at the same time"><![CDATA[app.registry['PollSynchronizer'].lock();]]></expression-component>
                <sfdc:query config-ref="SalesforceB" query="dsql:SELECT Account.Id,Account.Name,Account.AccountNumber,Account.AccountSource,Account.AnnualRevenue,Account.BillingCity,Account.BillingCountry,Account.BillingPostalCode,Account.BillingState,Account.BillingStreet,Account.Description,Account.Fax,Account.Industry,Account.NumberOfEmployees,Account.Ownership,Account.ParentId,Account.Phone,Account.Rating,Account.ShippingCity,Account.ShippingCountry,Account.ShippingPostalCode,Account.ShippingState,Account.ShippingStreet,Account.Sic,Account.SicDesc,Account.Site,Account.TickerSymbol,Account.Type,Account.Website,Amount,CloseDate,LastModifiedById,LastModifiedDate,Name,Probability,StageName FROM Opportunity WHERE (Amount &gt; 5000 AND LastModifiedDate &gt; #[flowVars['lastQueryDateB']]) ORDER BY LastModifiedDate ASC LIMIT 200" doc:name="fetch opportunities from B"/>
            </processor-chain>

		</poll>

        <batch:execute name="syncBatchB" doc:name="trigger batch execution"/>
        <exception-strategy ref="defaultChoiceExceptionStrategy" doc:name="Reference Exception Strategy"/>
    </flow>

</mule>
